body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient( black, rgb(162, 137, 24));
    color: white;
}

/* ====== HEADER ====== */
header {
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

header input {
    width: 200px;
    height: 50px;
    font-size: large;
}

header h1 {
    color: #ffe600;
}

.topics-head ul {
    position: sticky;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topics-head a {
    color: gold;
    text-decoration: none;
}

#perfil{
    text-align: center;
    border-radius: 30px;
    padding: 8px 16px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s;
}

#perfil:hover{
    background-color: gray;
    text-align: center;
    cursor: pointer;
}

#perfil img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

/* ====== FILMES ====== */

main {
    padding: 20px;
}

.titulo {
    font-size: 22px;
    color: #ffe600;
    margin: 30px 0 15px 15px;
    font-weight: bold;
}

.filmes {
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

.filme {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    padding: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 190px;
}

.filme img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s, box-shadow 0.3s;
}

.filme img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(255, 215, 0, 0.5);
}

.filme p {
    margin: 10px 0 5px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

.filme a {
    color: #f1c40f;
    font-size: 13px;
    text-decoration: none;
    margin: 0 3px;
}

.filme a:hover {
    text-decoration: underline;
}

.titulo {
    font-size: 24px;
    color: #ffe600;
    margin: 50px 0 15px 40px;
    font-weight: bold;
}


/* ====== FOOTER ====== */
footer {
    margin-top: 40px;
    color: gold;
    text-align: center;
    padding: 20px;
    background-color: #111;
    font-weight: bold;
}
